

#content {
    padding-left:25px;
    padding-right:25px;
    padding-top:25px;
    padding-bottom: 25px;
}

.navbar {
    background-color:#537B2F;
}


img {
    width: 145px;
    height: 225px;
    padding-top: 10px; 
}

 
button {
    margin-right: 10px;
    margin-bottom: 5px;
}


.card {
    width: 400px;
    padding-left: 10px;
    padding-bottom: 5px;

}



.overlay {
    /* mainly from w3schools overlay page: https://www.w3schools.com/howto/howto_css_overlay.asp*/
    position: absolute;
    display: flex; 
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}

.custom-select {
    height: 37px;
    border-radius: 8px;
    color: #6c757d;
}



.invalid-feedback {
    color: whitesmoke;
}






