

#content {
    padding-left:60px;
    padding-top:25px;
}

.navbar {
    background-color:#537B2F;
}

img {
    width: 145px;
    height: 225px;
    padding-top: 10px; 
}

 
button {
    margin-right: 10px;
}

.card {
    width: 25rem;
}


