html {
    padding-top: 150px;
    padding-left:60px;
    padding-right:60px;
}

.navbar {
    background-color:#537B2F;
}

img {
    width: 145px;
    height: 225px;
    padding-top: 10px; 
}

 
button {
    margin-right: 10px;
}

