

#content {
    padding-left:25px;
    padding-right:25px;
    padding-top:25px;
}

.navbar {
    background-color:#537B2F;
}

img {
    width: 145px;
    height: 225px;
    padding-top: 10px; 
}

 
button {
    margin-right: 10px;
}


.card {
    width: 25rem;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: darkgrey;
}




