

#content {
    padding-left:25px;
    padding-right:25px;
    padding-top:25px;
}

.navbar {
    background-color:#537B2F;
}


img {
    width: 145px;
    height: 225px;
    padding-top: 10px; 
}

 
button {
    margin-right: 10px;
}


.card {
    width: 400px;
    padding-left: 10px;
    padding-bottom: 5px;

}



.overlay {
    /* mainly from w3schools overlay page: https://www.w3schools.com/howto/howto_css_overlay.asp*/
    position: absolute;
    display: flex; 
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(76, 73, 72, 0.5);
    z-index: 2;
    cursor: pointer;
}




